<br />
<%= form_for(emp_logins_forum_path) do |f| %>
  <% if current_emp_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<!--   <div class="field">
    <%= f.label :qid %><br>
    <%= f.text_field :qid %>
  </div> -->

  <div class="field">
    <%= f.label :Query %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :Type %><br>
    <%= f.select :type, options_for_select(%w[Challenge Issue Question]) %>
  </div>
  <div class="field">
    <%= f.label :Technology %><br>
    <%= current_emp_login.emptech.techmaster_id %>
  </div>
  <div class="field">
    <%= f.label :EmployeeId %><br>
    <%= current_emp_login.emp_master.tcs_id %>
  </div>
  <div class="actions">
    <%= f.submit "Post"%>
  </div>
<% end %>
