<div id='wel'><h2 align='center' style="color:#2781BA">Welcome to the Tech Forum!</h2><hr id='welcome'/></div>
<div class='leftnav'>

<ul>
<% if emp_login_signed_in? %>
		 <% if  (current_emp_login.emp_master.role.eql?('admin')) %>
	<li><%= link_to 'Add new User', new_emp_login_registration_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'View all Users',emp_logins_show_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'View Forum', '#' %><hr /></li>
		<br /><br />
	<% elsif (emp_login_signed_in? && current_emp_login.emp_master.role.eql?('normal')) %>
		<li><%= link_to 'My Profile', view_emp_login_registration_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'Apply WFH', emp_logins_wfh_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'Apply Leave', emp_logins_leave_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'Firm Projects', '#' %><hr /></li>
		<br /><br />
		<li><%= link_to 'Forum', emp_logins_forum_url %><hr /></li>
		<br /><br />
	<% end %> 

<% else -%>
<li><%= link_to 'View Forum', '#' %><hr /></li>
<br /><br />
<li><%= link_to 'Sign In', new_emp_login_session_path %><hr /></li>
<% end %>
</ul>
</div>
<div class='rightnav'>
<div class='main'>
<p id="notice"><%= notice %></p>
<h1 align='center'>Editing Post</h1><hr />
<br />
<% if emp_login_signed_in? and (current_emp_login.id.to_s.eql?(@forum.emp_login_id.to_s)-%>
<%= render 'form' %>
<% end -%>
<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>
</div>
</div>

