<div id='wel'><h2 align='center' style="color:#2781BA">Welcome to the TechForum!</h2><hr id='welcome'/></div>
<div class='leftnav'>
<ul>
    <li><%= link_to 'New Post', emp_logins_forum_url %><hr /></li>
    <br /><br />
    <li><%= link_to 'My Posts',emp_logins_forums_url %><hr /></li>
    <br /><br />
    <li><%= link_to 'New Discussion', '#' %><hr /></li>
    <br /><br />
    <li><%= link_to 'My Discussions', '#' %><hr /></li>
    <br /><br />
</ul>
</div>
<div class='rightnav'>
<div align='center' class='regForm'>

<%= render 'form' %>


&nbsp;&nbsp;&nbsp;<input type='button' value='Back to Home' onclick="window.location.href='http://localhost:3000'"</div>

</div>
</div>
</div>

