<h1>Listing replies</h1>

<table>
  <thead>
    <tr>
      <th>Nestreply</th>
      <th>Answer</th>
      <th>Emp login</th>
      <th>Forum</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.nestreply_id %></td>
        <td><%= reply.answer %></td>
        <td><%= reply.emp_login %></td>
        <td><%= reply.forum %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_reply_path %>
