<p id="notice"><%= notice %></p>

<p>
  <strong>Nestreply:</strong>
  <%= @reply.nestreply_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @reply.answer %>
</p>

<p>
  <strong>Emp login:</strong>
  <%= @reply.emp_login %>
</p>

<p>
  <strong>Forum:</strong>
  <%= @reply.forum %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
