
<div id='wel'><h2 align='center' style="color:#2781BA">Welcome to the Tech Forum!</h2><hr id='welcome'/></div>
<div class='leftnav'>
<ul>
<li><%= link_to 'Add new User', new_emp_login_registration_url %><hr /></li>
		<br /><br />
		<li><%= link_to 'View all Users', '#' %><hr /></li>
		<br /><br />
		<li><%= link_to 'View Forum', '#' %><hr /></li>
		<br /><br />
		<!-- <li><%= link_to 'View all Discussions', '#' %><hr /></li>
		br /><br /> -->
		<li><%= link_to 'Sign Out', destroy_emp_login_session_url, method: :delete %><hr /></li>
</ul>
</div>
<div class='rightnav'>
<div id='notice'><%= notice %></div>
<div align='center' class='main'>
<table align='center' cellspacing='0px' cellpadding='20px' border='1px solid black' height='200px' width='400px'>
<tr>
<th>Name</th>
<th>Email</th>
<th>Edit User</th>
</tr>
<% @emp_logins.each do |emp_login|%>
	<% if !(emp_login.emp_master.role.eql?('admin')) %>
		<tr>
		<td><%= emp_login.emp_master.name %></td>
		<td><%= emp_login.email %></td>
		<td><%= link_to 'Edit', edit_emp_login_registration_url(emp_login.emp_master) %></td>
		
	<% end %>
<% end %>
<p><%= will_paginate @emp_logins %></p>
</table
</div>
</div>
</div>

	
