<%
response.headers["Cache-Control"] = "no-cache, no-store, must-revalidate" # HTTP 1.1.
response.headers["Pragma"] = "no-cache" # HTTP 1.0.
response.headers["Expires"] = "0" # Proxies.
%>
<!DOCTYPE html>
<html>
<head>
  <title>Techforum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='wrapper'>
<div class='header'>
</div>
<div class='content'>
<% if emp_login_signed_in? -%>
<div id='user'>Welcome: <%= current_emp_login.emp_master.name %></div>
<% else -%>
<div id='user'>Welcome: Guest</div>
<% end -%>
<%= yield %>
<div id='welf'><hr /><h4 align='center' style="color:#2781BA">&copy;Tata Consultany Services Ltd.</h4><h6 align='center' style="color:#2781BA">Best viewed in resolution 1366x768</h6></div>
</div>
<div id='footer_push'></div>
</div>
<div class='footer'></div>
</body>
</html>
